mecab-python3==0.6
aiohttp==3.7.4
alabaster==0.7.2
Babel==1.3
beautifulsoup4==4.3.2
boto==2.34.0
certifi==14.5.14
CherryPy==3.7.0
click==4.0
cssselect==0.9.1
docutils==0.12
Flask==0.10.1
gensim==0.10.3
gnureadline==6.3.3
gunicorn==19.3.0
ipython==3.1.0
itsdangerous==0.24
Jinja2==2.7.3
jsonschema==2.4.0
lxml==3.4.1
MarkupSafe==0.23
matplotlib==1.3.1
mechanize==0.2.5
mistune==0.5.1
nose==1.3.3
numpy==1.9.1
numpydoc==0.5
oauth==1.0.1
pandas==0.13.1
peewee==2.6.0
ptyprocess==0.4
Pygments==2.0.2
-e git://github.com/lisa-lab/pylearn2.git@7845c3712f8f44ed6e6179e9edffdc9cb78cfc68#egg=pylearn2-master
pymongo==2.7.2
pyparsing==2.0.2
python-dateutil==2.2
pytz==2014.3
PyYAML==3.11
pyzmq==14.5.0
redis==2.10.3
requests==2.5.0
rq==0.5.2
scikit-learn===0.15-git
scipy==0.15.1
selenium==2.45.0
six==1.9.0
snowballstemmer==1.2.0
Sphinx==1.3
sphinx-rtd-theme==0.1.7
terminado==0.5
Theano==0.6.0
tornado==4.1
urllib3==1.8.2
virtualenv==13.0.3
Werkzeug==0.9.6
xmlpumpkin==0.1
